In [1]:
import numpy as np
import pandas as pd 

import matplotlib
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px 
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (10, 6)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

In [74]:
df= pd.read_csv('Data/main.csv')
df

,DATE,CSUSHPISA,MPRIME,CPIAUCSL,CSCICP03USM665S,USALORSGPNOSTSAM,T10YIEM,PI,POPTHM,DSPIC96,SPASTT01USM657N,UNRATE
0,1/1/2003,128.460,4.25,182.600,99.547162,98.340277,1.76,9297.2,289412.0,10133.6,-0.368127,5.8
1,2/1/2003,129.355,4.25,183.600,99.386673,98.332993,1.91,9302.0,289606.0,10097.6,-6.280696,5.9
2,3/1/2003,130.147,4.25,183.900,99.470983,98.371757,1.87,9341.7,289809.0,10121.5,-0.293998,5.9
3,4/1/2003,130.884,4.25,183.200,99.911101,98.457636,1.78,9369.8,290024.0,10181.4,5.388649,6.0
4,5/1/2003,131.734,4.25,182.900,100.345019,98.588511,1.66,9431.9,290250.0,10261.2,5.865718,6.1
...,...,...,...,...,...,...,...,...,...,...,...,...
243,4/1/2023,300.214,8.00,302.918,97.183635,100.047133,2.27,22669.7,334880.0,15633.0,2.863582,3.4
244,5/1/2023,302.657,8.23,303.294,97.177669,100.062858,2.21,22761.5,335013.0,15697.7,-1.785977,3.7
245,6/1/2023,304.635,8.25,303.841,97.489157,NaN,2.20,22822.8,335163.0,15701.3,2.280162,3.6
246,NaN,NaN,8.29,304.348,97.950268,NaN,2.30,22867.8,335329.0,15673.5,3.372091,3.5
247,NaN,NaN,8.50,NaN,98.321533,NaN,2.34,NaN,NaN,NaN,-0.715514,3.8

In [75]:
main_df = df.copy()
main_df

,DATE,CSUSHPISA,MPRIME,CPIAUCSL,CSCICP03USM665S,USALORSGPNOSTSAM,T10YIEM,PI,POPTHM,DSPIC96,SPASTT01USM657N,UNRATE
0,1/1/2003,128.460,4.25,182.600,99.547162,98.340277,1.76,9297.2,289412.0,10133.6,-0.368127,5.8
1,2/1/2003,129.355,4.25,183.600,99.386673,98.332993,1.91,9302.0,289606.0,10097.6,-6.280696,5.9
2,3/1/2003,130.147,4.25,183.900,99.470983,98.371757,1.87,9341.7,289809.0,10121.5,-0.293998,5.9
3,4/1/2003,130.884,4.25,183.200,99.911101,98.457636,1.78,9369.8,290024.0,10181.4,5.388649,6.0
4,5/1/2003,131.734,4.25,182.900,100.345019,98.588511,1.66,9431.9,290250.0,10261.2,5.865718,6.1
...,...,...,...,...,...,...,...,...,...,...,...,...
243,4/1/2023,300.214,8.00,302.918,97.183635,100.047133,2.27,22669.7,334880.0,15633.0,2.863582,3.4
244,5/1/2023,302.657,8.23,303.294,97.177669,100.062858,2.21,22761.5,335013.0,15697.7,-1.785977,3.7
245,6/1/2023,304.635,8.25,303.841,97.489157,NaN,2.20,22822.8,335163.0,15701.3,2.280162,3.6
246,NaN,NaN,8.29,304.348,97.950268,NaN,2.30,22867.8,335329.0,15673.5,3.372091,3.5
247,NaN,NaN,8.50,NaN,98.321533,NaN,2.34,NaN,NaN,NaN,-0.715514,3.8

In [78]:
main_df.dropna(inplace=True)

In [83]:
main_df['DATE'] = pd.to_datetime(main_df['DATE'])

main_df['YEAR'] = main_df['DATE'].dt.year
main_df['MONTH'] = main_df['DATE'].dt.month
main_df['QUARTER'] = main_df['DATE'].dt.quarter

main_df

,DATE,CSUSHPISA,MPRIME,CPIAUCSL,CSCICP03USM665S,USALORSGPNOSTSAM,T10YIEM,PI,POPTHM,DSPIC96,SPASTT01USM657N,UNRATE,YEAR,MONTH,QUARTER
0,2003-01-01,128.460,4.25,182.600,99.547162,98.340277,1.76,9297.2,289412.0,10133.6,-0.368127,5.8,2003,1,1
1,2003-02-01,129.355,4.25,183.600,99.386673,98.332993,1.91,9302.0,289606.0,10097.6,-6.280696,5.9,2003,2,1
2,2003-03-01,130.147,4.25,183.900,99.470983,98.371757,1.87,9341.7,289809.0,10121.5,-0.293998,5.9,2003,3,1
3,2003-04-01,130.884,4.25,183.200,99.911101,98.457636,1.78,9369.8,290024.0,10181.4,5.388649,6.0,2003,4,2
4,2003-05-01,131.734,4.25,182.900,100.345019,98.588511,1.66,9431.9,290250.0,10261.2,5.865718,6.1,2003,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,2023-01-01,296.601,7.50,300.536,97.299665,99.994540,2.24,22432.0,334533.0,15504.7,2.671263,3.4,2023,1,1
241,2023-02-01,296.958,7.74,301.648,97.414405,100.014996,2.33,22520.6,334637.0,15545.3,0.830646,3.6,2023,2,1
242,2023-03-01,298.210,7.82,301.808,97.292142,100.031746,2.30,22605.1,334753.0,15598.6,-4.792700,3.5,2023,3,1
243,2023-04-01,300.214,8.00,302.918,97.183635,100.047133,2.27,22669.7,334880.0,15633.0,2.863582,3.4,2023,4,2
244,2023-05-01,302.657,8.23,303.294,97.177669,100.062858,2.21,22761.5,335013.0,15697.7,-1.785977,3.7,2023,5,2